body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.LoginPage{
  width: 100%;
  padding: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginPage form ,.LoginPage label,.LoginPage span{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.LoginPage .mb-3 span, .LoginPage .general {
  color: red;
}

.googleBtn{
  margin-top: 20px;
}
.signInPage{
  width: 100%;
  padding: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signInPage form ,.signInPage label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}